@use "sass/variables.scss" as global;

//LOCAL VARIABLES
$border-radius: 0.5rem;
$color-grey: #d3d0d0;

.container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin-top: 2rem;
}

.button,
.previous,
.next {
  border-top: 1px solid $color-grey;
  border-bottom: 1px solid $color-grey;
  font-family: inherit;

  a {
    display: block;
    padding: 0.5rem 1rem;
  }
}

.button {
  border-right: 1px solid $color-grey;
  cursor: pointer;

  a {
    padding: {
      left: 1.2rem;
      right: 1.2rem;
    }
  }
}

.button:nth-last-child(2),
.next {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.previous,
.next {
  color: global.$color-blue;
  margin: 0 1rem;
  border: 1px solid $color-grey;

  cursor: pointer;
}

.previous,
.previous + .button {
  border-left: 1px solid $color-grey;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.active {
  color: white;
  background-color: global.$color-blue;
  border: 1px solid global.$color-blue;
}

.disabled {
  background-color: $color-grey;
  border: 1px solid $color-grey;
  color: white;
  cursor: not-allowed;
}
