.page {
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  position: relative;

  @media only screen and (min-width: 50em) {
    margin: 0 2rem;
  }

  @media only screen and (min-width: 64em) {
    margin: 0 4rem;
  }
}

.banner {
  height: 75vh;
  width: 100%;
  background-size: cover;
  background-position: bottom 35% left 50%;

  @media only screen and (min-width: 37.5em) {
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);
  }
}

.main {
  width: 96rem;
  max-width: 90%;
  margin: 0 auto;

  position: absolute;
  top: 5rem;
}

.header {
  color: #fff;
  margin-bottom: 5rem;

  h1 {
    color: inherit;
    font-weight: 600;
  }
}

.id {
  font-size: 1.7rem;
  display: inline-block;

  color: inherit;
}

.name {
  font-size: 3rem;
}

.reviews {
  min-height: 45rem;
  background-color: #fff;
  padding: 2.7rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(#ccc, 0.9);
  display: flex;
  flex-direction: column;
  // justify-content: center;

  @media only screen and (min-width: 37.5em) {
    padding: 4rem 3rem;
  }
}
