@use "styles/variables.scss" as global;

.input {
  display: flex;
  align-items: center;
  outline: none;
  height: 3.8rem;
  width: 13rem;
  max-width: 50%;
  border-radius: 0.4rem;
  padding: 0.8rem;

  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 1em;

  transition: box-shadow 0.1s ease;

  &:focus {
    border-color: global.$color-blue-2;
    border-width: 1px;
    box-shadow: 0 0 0 1px global.$color-blue-2;
  }

  &::placeholder {
    color: #808080;
  }
}
