@use "../../sass/variables.scss" as global;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 3rem;

  @media only screen and (min-width: global.$bp-small) {
    margin-bottom: 3.5rem;
  }
}

.filter {
  display: flex;
  max-width: 100%;
}

.filter-input {
  width: 13rem;
  max-width: 50%;
  align-self: center;

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.review-count {
  font-size: 3.3rem;
  font-weight: 700;
  color: #163753;
}
